body {
  overflow-x: hidden;
}

.header {
  max-width: 1100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  margin: 0px auto;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  padding-left: 50px;
  list-style-type: none;
}

.underlined {
  text-decoration: underline;
}

.marked {
  list-style-type: circle;
}

.header__menu-list-item-link {
  font-size: 18px;
  text-decoration: none;
}

.header__logo {
  width: 140px;
  display: block;
  justify-self: center;
  align-self: center;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  font-style: inherit;
}

.header__address {
  justify-self: end;
  font-style: inherit;
  padding-right: 85px;
}

.header__address-phone {
  display: block;
  font-size: 18px;
  line-height: 130%;
}

.header__address-email {
  display: block;
  font-size: 18px;
  line-height: 130%;
}

.header__address-address {
  font-size: 18px;
  line-height: 130%;
}

.cover {
  max-width: 1100px;
  width: 100%;
  height: 757px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
              url("../images/cover.jpg") center/cover;
  padding: 165px 50px 50px;
}

.content-section {
  width: 100%;
  margin: 0px auto;
  max-width: 1100px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
  color: #fff;
  gap: 20px;
}

.cover__title-first {
  text-align: left;
}

.cover__title-second {
  text-align: center;
  margin-left: 32px;
}

.cover__title-third {
  text-align: right;
  margin: -5px 0px 0px 614px;
  padding: 0px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 78px;
  padding: 117px 0px 0px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 130%;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-top: -10px;
}

.cover__description-button {
  height: 50px;
  width: 256px;
  padding: 0px 32px 0 31px;
  border: 1px solid;
  color: white;
  background-color: transparent;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  margin-left: 30px;
  margin-top: -13px;
  
}

.lots {
  padding: 179px 50px 0px 25px;
  margin-top: 10px;
  justify-content: flex-start;
}

.lots__title {
  padding: 0px 0px 27px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.lots__list-item {
  height: 100%;
}

.lots__list-item-card-film {
  width: 334px;
  height: 596px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
              url("../images/card-lot-01.jpg") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 40px;
}

.lots__list-item-card-book {
  width: 334px;
  height: 596px;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
              url("../images/card-lot-02.jpg") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 40px;
}

.lots__list-item-card-picture {
  width: 334px;
  height: 596px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
              url("../images/card-lot-03.jpg") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 40px;
}

.lots__list-item-card-title {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
}

.lots__list-item-card-text {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.lots__link {
  width: fit-content;
  display: block;
  margin: 30px 0px 0px 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
}

.about {
  max-width: 1100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 50px;
  margin: 0px auto;
  margin-top: 160px;
}

.about__part {
  justify-self: center;
}

.about__part-text {
  grid-column: 2/4;
}

.about__logo {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #000;
  margin-top: -8px;
  margin-right: 55px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 100px 0px 105px;
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 0px 0px 180px;
}

.about__text p {
  line-height: 100%;
  font-size: 20px;
}

.footer {
  max-width: 1100px;
  width: 100%;
  display: flex;
  padding: 0px 50px 80px;
  justify-content: space-between;
}

.footer__address {
  font-style: inherit;
}

.footer__menu {
  height: 48px;
  width: auto;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 100%;
}

.footer__menu-list-item-link {
  font-size: 18px;
}

.footer__logos-list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.footer__logos-list-item-image {
  height: 48px;
  width: auto;
}
